body {
    margin-top: 64px;
    background: rgb(22, 22, 22);
    text-align: center;
}

body>* {
    margin: auto;
}

h2, h3 {
    margin-top: 18px;
    margin-bottom: 36px;
    color: rgb(62, 123, 255);
}

#instructions {
    color: lightgray;
    font-size: 1.44rem;
    max-width: 500px;
}

.news {
    background-color: green;
    padding: 8px 16px 16px 8px;
}

input, input:active, input:focus {
    background-color: rgb(60,60,60) !important;
    border: none !important;
    color: white !important;
}